---
import Base from "../layouts/Base.astro";
---
<style>
    p {
        text-align: center;
        padding: 10rem;
        font-size: var(--fs-3);
    }
</style>

<Base title="discover">
    <p>This page will be build soon 🚧</p>
</Base>
