---
import Base from "../layouts/Base.astro";
import ProjectsList from "../components/ProjectsList.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");
const projects = allProjects.filter((project) => !project.data.draft);
projects.sort((a, b) => +b.data.year - +a.data.year);
---

<style>
    h2 {
        margin: 0rem;
        padding: 0;
        font-weight: 100;
        font-size: var(--fs-4);
        text-align: center;
    }

    .projects {
        margin: 3rem 1rem;
    }

    @media screen and (min-width: 48rem) {
        .projects {
            margin: var(--space-m);
        }
    }
</style>

<Base title="Projects">
    <h2 class="visually-hidden">projects</h2>
    <div class="projects">
        <ProjectsList projects={projects} showYears={true} />
    </div>
</Base>
