---
import Base from "../layouts/Base.astro";
import ProjectsList from "../components/ProjectsList.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");
allProjects.sort((a, b) => +b.data.year - +a.data.year);
---

<style>
    /* h2 {
        font-weight: 200;
        font-size: var(--fs-2);
        margin: 0rem 1rem;
        margin-bottom: 2rem;
    } */

    .projects {
        margin: 3rem 1rem;
    }

    @media screen and (min-width: 48rem) {
        .projects {
            margin: var(--space-m);
        }
    }
</style>

<Base title="Projects">
    <h2 class="visually-hidden">projects</h2>
    <div class="projects">
        <ProjectsList projects={allProjects} />
    </div>
</Base>
