---
import ProjectCard from "./ProjectCard.astro";
const { projects } = Astro.props;
---

<style>
    li + li {
        margin-top: 3rem;
    }

    @media screen and (min-width: 41rem) {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: var(--space-s);
            row-gap: var(--space-l);
        }

        li + li {
            margin-top: 0rem;
        }
    }

    .noResults {
        display: flex;
        text-align: center;
        height: 50dvh;
        justify-content: center;
        flex-direction: column;
    }

    .noResults .bold {
        font-weight: bold;
        font-size: var(--fs-3);
        margin-bottom: var(--space-s);
    }

    .hidden {
        display: none;
    }

    @media screen and (min-width: 66rem) {
        ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>

<ul>
    {
        projects.map((project) => (
            <li
                data-category={project.data.tags.map(
                    (tag) => `${tag.toLowerCase()}`,
                )}
            >
                <ProjectCard project={project} />
            </li>
        ))
    }
</ul>

<div class="noResults hidden">
    <p class="bold">Oooh no, you deselected all the categories.</p>
    <p>Please, select a category to see some of my projects.</p>
</div>
